.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: var(--background2);
  color: var(--white);
  font-family: var(--font2);

  .loader__cols {
    display: flex;
    justify-content: space-between;
    gap: 1.0416666667vw;
    height: 100vh;
    font-size: 1.7vw;

    .loader__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;

      // &.loader__col--1 {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100vw;

      //   &.done {
      //     width: auto;
      //     position: static;
      //   }
      // }

      .loader__item {
        position: relative;
        top: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        // left: 50vw;
        // transform: translate(-50%);
      }
    }
  }
}

// .loader__col--3 .loader__item--ec {
//   font-size: 3.6458333333vw;
//   line-height: 1em;
//   white-space: nowrap;
//   opacity: 0;
// }

.loader__col--3 {
  &.done {
    width: auto;
    position: static;
  }
}
