.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-pagination-bullet {
    background: var(--black);
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    // height: 500px;

    img {
      display: block;
      width: 30vw;
      margin: 0 auto;
    }
    .slider__detail {
      position: absolute;
      left: 50%;
      bottom: 5%;
      width: 20vw;
      background: rgba(60, 17, 203, 0.3);
      z-index: 100;
      border-radius: 10px;
      padding: 20px;
      font-family: var(--font3);
      text-align: center;
      p {
        text-align: left;
      }

      .btn__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        button {
          background: #fff;
          color: #48433b;
          padding: 5px 10px;
          margin-top: 20px;
          display: inline-block;
          border: 0;
          margin-right: 15px;
          border-radius: 5px;
          font-size: 16px;
          word-break: keep-all;
          transition: all 300ms;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            background-color: #48433b;
            color: #fff;
          }
        }
      }

      /* 8 */
      .btn-8 {
        background-color: #f0ecfc;
        background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
        line-height: 42px;
        padding: 0;
        border: none;
        margin-top: 40px;
        margin-right: 10px;
      }
      .btn-8 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-8:before,
      .btn-8:after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        background: #c797eb;
        /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
        transition: all 0.3s ease;
      }
      .btn-8:before {
        height: 0%;
        width: 2px;
      }
      .btn-8:after {
        width: 0%;
        height: 2px;
      }
      .btn-8:hover:before {
        height: 100%;
      }
      .btn-8:hover:after {
        width: 100%;
      }
      .btn-8:hover {
        background: #fff;
      }
      .btn-8 span:hover {
        color: #c797eb;
      }
      .btn-8 span:before,
      .btn-8 span:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        background: #c797eb;
        /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
        transition: all 0.3s ease;
      }
      .btn-8 span:before {
        width: 2px;
        height: 0%;
      }
      .btn-8 span:after {
        height: 2px;
        width: 0%;
      }
      .btn-8 span:hover:before {
        height: 100%;
      }
      .btn-8 span:hover:after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1220px) {
  .swiper {
    .slider__detail {
      p {
        text-align: left;
        // @include row3;
      }
    }
  }
}
